.app_main_container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  min-width: 1200px;
  min-height: 900px;
  border-radius: 5px;
}
.app_sub_container_v0{
  position: relative;
}
.app_sub_container{
  position: relative;
}
.app_input_container{
  padding: 0px 30px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.app_input_field{
  flex-grow: 1;
  padding: 8px;
  font-size: 16px;
}
.app_input_send_button{
  background-color: #2D99FF;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.app_input_reset_story_button{
  background-color: #2D99FF;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.app_story_title{
  color: #2D99FF;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.app_sub_spinner_component{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 1200px;
  min-height: 900px;
  border-radius: 5px;
  background-color: #ffffffd9;
}